<div class="new-answer-form">

  <hr>
  <br>

  <div class="answer-body">
    <textarea id="answer_body" name="answer[body]" title="Your answer"></textarea>
  </div>

  <br>

  <button id="submit-answer">Post Answer</button>
</div>
