<div class="new-answer-form">
  <hr>

  <br>

  <textarea id="answer_body" name="answer[body]" title="Your answer"></textarea>

  <br>
  <br>

  <button id="submit-answer">Post Answer</button>
</div>
