<hr>

<div class="answer-body">
  <%= answer.escape("body") %>
</div>

<br>

<div class="right">
  <span title="<%= answer.escape("created_at") %>">
    answered <%= $.timeago(answer.escape("created_at")) %>
  </span>
  <br>
  <div class="right">
    <%= answer.escape("answerer_id") %>
  </div>
</div>

<br>

<div class="comments-list"></div>
<div class="new-answer-comment hidden"></div>

<button class="add-answer-comment">Add comment</button>