<div class="new-comment-form">

  <br>

  <div class="comment-body">
    <textarea class="comment" name="comment[body]" title="Your comment"></textarea>
  </div>

  <br>

  <button class="submit-comment btn">Post Comment</button>
</div>
