<div class="new-comment-form">

  <br>

  <div class="comment-body">
    <textarea id="comment" name="comment[body]" title="Your comment"></textarea>
  </div>

  <br>

  <button id="submit-comment">Post Comment</button>
</div>
