<div class="questions-list-all">
  <ul>
    <% questions.each(function(question) { %>
      <li>
        <a href="/#/questions/<%= question.get("id") %>">
          <%= question.escape("title") %>
        </a>
      </li>
    <% }); %>
  </ul>
</div>
