<div class="new-question-form">

  <label for="question_title">Title</label>
  <div class="question-title">
    <input type="text" id="question_title" name="question[title]">
  </div>

  <br>
  <br>

  <div class="question-body">
    <textarea id="question_body" name="question[body]" title="Question details..."></textarea>
  </div>

  <br>

  <div class="pull-left bold">
    Tags:
  </div>
  <ul class="tags-list"></ul>
  <br>
  <br>

  Add a tag:
  <input type="text" id="tag_typeahead" class="tag-typeahead span3"
   data-provide="typeahead" data-items="5"
   data-source='<%= JSON.stringify(tagNames) %>'>

  <br>
  <br>

  <button class="btn btn-primary" id="submit-question">Post Question</button>

</div>
