<div class="new-question-form">
  <div class="question-title">
    <label for="question_title">Title</label>
    <input id="question_title" name="question[title]">
  </div>

  <br>
  <br>

  <div class="question-body">
    <textarea id="question_body" name="question[body]" title="Question details..."></textarea>
  </div>

  <br>
  <br>

  <button id="submit-question">Post Question</button>
</div>
