<div class="new-question-form">
  <label for="question_title">Title</label>

  <br>

  <input id="question_title" name="question[title]">

  <br>
  <br>

  <textarea id="question_body" name="question[body]"></textarea>

  <br>
  <br>

  <button id="submit-question">Post Question</button>
</div>