<div class="question-title">
  <%= question.escape("title") %>
</div>

<br>
<br>

<div class="question-body">
  <%= question.escape("body") %>
</div>

<div class="answer-list"></div>
<div class="new-answer"></div>