/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

.hlogo {
  float: left;
}

.hlogo h1 {
  display: inline;
  position: relative;
  bottom: 0px;
}

.main-nav li {
  float: left;
  display: inline;
  padding: 0px 0px 0px 2em;
  max-width: 100%;
}

.container {
  width: 800px;
  margin: auto;
}

.questions-list-all li {
  padding-bottom: 15px;
}

.new-question-form {
  width: 500px;
}

.question-title {
  display: inline;
}

.question-title label {
  font-weight: bold;
  padding-right: 10px;
}

.question-title input {
  width: 50%;
}

.question-body {
  width: 500px;
}

.question-body textarea {
  resize: none;
  width: 100%;
  height: 150px;
}

.right {
  float: right;
}

.clear {
  clear: both;
}