/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
  padding-left: 1em;
}

/*.hlogo {
  float: left;
}*/

.hlogo h1 {
  display: inline;
  position: relative;
  bottom: 0px;
}

.main-nav li {
  float: left;
  display: inline;
  padding: 0px 0px 0px 2em;
  max-width: 100%;
}

/*.main-nav li:hover {
  background-color: green;
}*/

.container {
  width: 800px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

/*.pull-down {
  position: relative;
  right: 0px;
  bottom: 0px;
}*/

.bold {
  font-weight: bold;
}